<!DOCTYPE html>
{% load clean_tt %}
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<title>Cleaning Schedule</title>
</head>
<body>
<div class="container">
<div class="jumbotron">
<h1>Cleaning Schedule</h1>
<table class="table table-striped">
<thead>
<tr><th>Task</th> <th>assigned to</th> <th>Status</th></tr>
<tbody>
{% for r in rooms %}
<tr>
</thead>
<td>{{r.Name}}</td> <td> {{r.Cleaner}}</td>
<td>
{% if r.Done == 1 %}
    &#10004;
    {% else %}
        {% if timeleft|get:r.id <= r.Interval %}
            {{timeleft|get:r.id}} days til due
            {% else %}
            {{timeleft|get:r.id}} days overdue!
        {% endif %}
{% endif %}
</td> 
<td>
{% if r.Done == 0%}
<form action="{% url 'schedule:done' r.id %}" method="POST">
    {% csrf_token %}
    <input type="submit" class="btn btn-success" name="done" id={{ r.Name }} value="Done!">
</form>
{% else %}
<form action="{% url 'schedule:rotate' r.id %}" method="POST">
    {% csrf_token %}
    <input type="submit" class="btn " value="Rotate">
</form>
{% endif %}
</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>

<div class="container">
   <h2>Flatmate Availability</h2>
   
    <table class="table table-bordered">
        <thead>
        <tr><th>Flatmate</th></tr></thead>
        <tbody>
        {% for mate in flatmates %}
        <tr>
            {% if mate.Available == 1 %}
                <td>{{mate.Name}}</td>
                <td>
                    <form action="{% url 'schedule:hold' mate.id %}" method="POST">{% csrf_token %}
                     <input type="submit" class="btn btn-primary" value="Not at home">
                    </form>
                </td>
            {% else %}
                <td><del>{{mate.Name}}</del></td>
                <td>
                     <form action="{% url 'schedule:unhold' mate.id %}" method="POST">{% csrf_token %}
                       <input type="submit" class="btn" value="Back again">
                     </form>
                </td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    <table>
</div>
</body>
</html>
